*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
  
  .bg-main{
    background-image: url(https://images.unsplash.com/photo-1582537683185-922141f18eaa?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1676&q=80);
  }
  .header-ulist{
    font-weight: bold;
    margin-right: 20px;
    display: flex;
    gap: 20px;
    list-style: none;
  }
  .header-ulist a{
    text-decoration: none;
    color: black;
  }
  .header{
    padding: 20px;
    display: flex;
    justify-content: space-between;
  }
  .header h1{
    margin-left: 50px;
  }
  .body{
  font-weight: bolder;
    padding: 50px;
  }
  .body h1{
    margin-bottom: 20px;
  }
  .body p{
    margin-top: 40px;
  }
  .card{
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    border-radius: 25px;
    padding: 20px;
    background-color: white
    
  }
  .card img{
    border-radius: 25px;
    width: 200px;
    height: 150px;

  }
 .divv{
    padding: 20px;
    display: flex;
    justify-content: space-evenly;
 }
 .bt-addtofv{
  font-weight: bold;
  padding: 5px;
  margin-top: 5px;
  border-radius: 10px;
  height: 40px;
 }
 .bt-addtofv:hover{
  background-color: lightskyblue;
 }
 .content-body img{
  border-radius: 50px;
  width: 700px;
  height: 350px;
 }
.content-body{
  display: flex;
  justify-content: space-evenly;
}
.card.active button{
  background-color: #3e3d42;
}
.card .icon{
  right: 10px;
  top: 10px;
  position: absolute;
  width: 20px;
  height: auto;
  display: none;
}
.card.active .icon{
  display: block;
}